ul.results {
  color: black;
  list-style: none;
}

ul.results li {
  float: left;
}

.test-inline {
  display: inline-block;
}

.margin-in-dark-container{
  margin-left: 15px !important;
  margin-right: 15px !important;
}