.margin-in-dark-container{
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}
.my-link{
  /*color:#70A9FF !important;*/
  color:#4ECEDE !important;
}
.center-search {
  margin: auto  !important;
  padding: 10px  !important;
  width: 600px !important;

}
.col-search {
  padding-left:0 !important;
}