@font-face {
  font-family: 'helloTypeLight';
  src: url("../fonts/hello_type-light-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helloTypeRegular';
  src: url("../fonts/hello_type-regular-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helloTypeBold';
  src: url("../fonts/hello_type-bold-webfont.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hellohouse-icon';
  src: url("../fonts/hellohouse-icon.ttf?m6pl6h") format("truetype");
  font-weight: normal;
  font-style: normal
}

/*----------------------------------*/
/*MENU CLASSES*/
/*----------------------------------*/

[class*='iconHome-']:before {
    font-family: 'hellohouse-icon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    //-webkit-font-smoothing: antialiased;
} 

.iconHome-cross:before {
    content: '';
}

.iconHome-twitter-disc:before {
    content: '';
}

.iconHome-facebook-disc:before {
    content: '';
}

.iconHome-mail-disc:before {
    content: '';
}

.iconHome-menu:before {
  content: ""
}

.menu-icon {
  color:#FFFFFF;
  text-decoration: none;
  font-size: 20px;
  cursor:pointer;
  opacity : 0.3;
  padding : 0px 5px 0px 5px;
}

.menu-icon:hover {
  color:#FFFFFF;
  text-decoration: none;
  font-size: 20px;
  cursor:pointer;
  opacity : 1;
}

.menu-button {
  color:#FFFFFF;
  text-decoration: none;
  cursor:pointer;
}

.menu-button:hover {
  color:#FFFFFF;
  text-decoration: none;
  cursor:pointer;
}

/*----------------------------------*/
/*END MENU CLASSES*/
/*----------------------------------*/

body {
  font-family: "helloTypeRegular";
  background-image: url("../img/bg-1440-03.jpg");
  background-size: cover;
}

h1 {
  font-family: "helloTypeBold";
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
}

label {
  font-weight: normal !important;
}

.carousel-inner{
  width:100%;
  max-height: 200px !important;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.btn-group-full {
  width:100% !important;
}

.btn-full {
  position: absolute;
  width:118px !important;
  border-radius: 0px !important;
}

.btn-less {
  background-color: #555555;
}

.btn-brand { 
  background : linear-gradient(rgb(79,210,225), rgb(51,128,166));
}

.navbar-toggle {
  display: block;
}

.sidebar {
  background-color: #2A2A2A;
  float:left;
}

.main-container {
  padding: 0px !important;
  margin: 0px !important;
}

.navbar-toggle {
  margin-left:10px !important;
  z-index:500 !important;
}

.navbar-container {
  padding: 0px;
  margin: 0px; 
}

.navbar-link {
  z-index:500;
  color:#FFFFFF !important;
}

.full-transparent
{
  //opacity: 0 !important;
  background : rgba(0,0,0,0) !important;
  border:0px !important;
}

.sidebar-content {
  padding: 12px;
  width: 250px;
}

.sidebar-item-main {
  text-transform: uppercase;

}

.sidebar-item-secondary {
}

.small-sidebar-block
{
  color : #797d7f;
  padding: 7px 0px 7px 0px;
  margin: 0px;
  cursor : pointer;
}

.small-sidebar-block:hover
{
  color : #FFFFFF;
  padding: 7px 0px 7px 0px;
  margin: 0px;
  text-decoration: none;
}

a.small-sidebar-block:active
{
  color : #ff5a64 !important;
  padding: 7px 0px 7px 0px;
  margin: 0px;
  text-decoration: none !important;
}

a.small-sidebar-block:visited
{
  color : #ff5a64 !important;
  padding: 7px 0px 7px 0px;
  margin: 0px;
  text-decoration: none !important;
}

a {
  color : #FFFFFF;
  text-decoration: none !important;
}


.sidebar-block-container
{
  border-color : #525455;
  border-top: 1px;
  border-top-style: solid;
  padding: 12px 0px 0px 0px;
  margin: 12px 0px 0px 0px;
}

.home-page-container {
  background-image: url("../img/girl_table_top.jpg");
  background-size: cover;
}

.md-logo {
  width : 100px;
}

.small-text {
  font-size: 0.8em;
  color: #FFFFFF;
}

.vertical-center {
  margin-top:200px;
}

.home-image {
  position:absolute;
  top:0px;
  left:0px;
  z-index: -10 !important;
}

.dark-container {
  background : rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding : 10px;
  margin: 15px;
}

.dark-container-text {
  color:#FFFFFF !important;
}

/*----------------------------------*/
/*CARD CLASSES*/
/*----------------------------------*/

.card-container {
  background: rgb(255,255,255);
  border-radius: 10px;
  padding : 10px;
  width: 352px;
  height: 400px;
  margin: 10px 10px 10px 10px;
  position: relative;
  overflow: hidden;
}

.card-image {
  width: auto;
  max-width: 250px;
  height: auto;
  max-height: 250px;
  width: 250px;
  height: 250px;
}

.card-title {
  font-family: helloTypeBold;
  margin-bottom: 6px;
}

.card-description {
  font-size: 0.9em;
}

.card-text {
  padding-right:8px;
}

.card-label {
  font-family: helloTypeBold;
  padding-right:8px;
}

.card-carousel {
  margin-bottom: 8px;
}

/*----------------------------------*/
/*END CARD CLASSES*/
/*----------------------------------*/

.col-nopadding {
  padding-left: 0px !important;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.text-valign {
  display: inline-block !important;
  vertical-align: middle !important;
}

.bottom-align-block {
  position: absolute;
  left:0;
  bottom: 0;
  width: 352px;
}

.price-label {
  position: absolute;
  color: #FFFFFF;
  top: 50px;
  left: 0px;
  height: 30px;
  width: 100px;
  line-height: 30px;
  /*background-color: rgba(220,60,60,0.85);*/
  background : linear-gradient(rgb(79,210,225), rgb(51,128,166));
  font-weight: bold;
  border-radius : 0px 4px 4px 0px;
}
